<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title bg-heavy-rain">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-notebook icon-gradient bg-mixed-hopes"></i>
                    </div>
                    <div>Profile
                        <div class="page-title-subheading">My Profile</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <h5 class="card-title text-primary">Welcome, {{Profile.name}}</h5>
                            <div class="row">
                                <div class="col-md-6 col-xl-2">
                                    <div>
                                        <img [src]="getImage(Profile.image)" alt=""
                                            style="width: -webkit-fill-available;">
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-3">
                                    <h5 class="card-title text-danger">Personal Details</h5>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Name: {{Profile.name}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Date of Birth: {{Profile.dob| date:
                                                    'dd/MMM/yyyy'}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Gender: {{Profile.gender}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">E-mail: {{Profile.email}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Mobile: {{Profile.mobile}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-7">
                                    <h5 class="card-title text-danger">Bio</h5>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">{{Profile.bio}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6 col-xl-5">
                                    <h5 class="card-title text-danger">Address</h5>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Address Line 1: {{Profile.addressLine1}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Address Line 2: {{Profile.addressLine2}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">City: {{Profile.city}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">State: {{Profile.state}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Pincode: {{Profile.pincode}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-5">
                                    <h5 class="card-title text-danger">Bank Details</h5>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Account Holder Name:
                                                    {{Profile.bankAccountHolder}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Bank Name: {{Profile.bankName}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Account Type: {{Profile.bankAccountType}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Account Number:
                                                    {{Profile.bankAccountNumber}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">IFSC Code: {{Profile.bankIFSCCode}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="app-wrapper-footer">
        <div class="app-footer">
            <div class="app-footer__inner">
                <div class="app-footer-left">
                    <div class="footer-dots">
                        <div class="dots-separator"></div>
                        <div class="dropdown">
                            <p class="text-muted" style="margin: auto !important;">Copyright © 2022 InkQuills Publishing
                                House</p>
                        </div>
                        <div class="dots-separator"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>